
.mainnav{
    height: 100px;
    width: initial;
    background-color: rgb(23, 15, 35);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    text-decoration: none;
}

.search-btn{
    background-color: rgb(56, 37, 85);
    border-color: plum;
}
.search-btn:hover{
        background-color: plum;
        
    }

