*,
::after,
::before {
  box-sizing: border-box;
}

.login-container {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: rgb(56, 37, 85);
}

.text {
  padding-top: 20px;
  font-weight: 400;
  color: rgb(56, 37, 85);
}

input {

  padding: 8px;
  outline: none;
  background: transparent;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid rgb(56, 37, 85);
  width: 100%;

  &:hover {
    background-color: rgb(235, 235, 235);
  }
}

input-1 {
  position: relative;

  i {
    cursor: pointer;
    position: absolute;
    top: 17px;
    left: 10px;
  }
}

.login-container .small {
  color: red;
}

button {
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: none;
  color: white;
  background-color: red;

  &.active {
    background-color: rgb(56, 37, 85);
    color: white;
  }
}

button[disabled=disabled],
button:disabled {
  cursor: not-allowed;
}