.wrap3{
    height: fit-content;
    background-color: rgb(23, 15, 35);
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
    margin-top: 100px;
}

.pro-card{
    margin: auto;
    height: 300px;
    width: 500px;
/* place-items: center; */
}
.pro-card:hover{
    border-color: rgb(155, 77, 224);
    border-width: 1px;
    transform: scale(1.05)  translateY(-5px);
    transition: transform 0.5s ease-in-out;
}