.card{
    width: 355px;
    height: 550px;
    float: inline-start;
    margin: 12px;
    border-color: black;
    display: flex;
}
.image{
    height: 350px;
    width: 350px;
}
.name{
    text-align: center;
}
.description{
  text-align: center;
}
.booking{
    margin: auto;
}
.content{
    float: inline-end;
}