.card {
    width: 350px;
    float: inline-start;
    margin: 12px;
    border-color: black;
}

.image {
    height: 350px;
    width: 350px;
}

.name {
    text-align: center;
}

.in4 {
    text-align: center;
    background-color: aqua;
    border-radius: 5px;
    height: 50px;
}